[access]
	inheritFrom = All-PrivateDirectPush
[access "refs/*"]
	read = group JazzHub:_NJ_oFUOzEeWCCJllxtqZjQ:Members
[access "refs/heads/*"]
	read = group JazzHub:_NJ_oFUOzEeWCCJllxtqZjQ:Members
	create = group JazzHub:_NJ_oFUOzEeWCCJllxtqZjQ:Members
	forgeCommitter = group JazzHub:_NJ_oFUOzEeWCCJllxtqZjQ:Members
	push = group JazzHub:_NJ_oFUOzEeWCCJllxtqZjQ:Members
	push = +force group JazzHub:_NJ_oFUOzEeWCCJllxtqZjQ:Owners
