[access]
	inheritFrom = All-PrivateDirectPush
[access "refs/*"]
	read = group JazzHub:_NJ_oFUOzEeWCCJllxtqZjQ:Members
[access "refs/heads/*"]
	read = group JazzHub:_NJ_oFUOzEeWCCJllxtqZjQ:Members
	create = group JazzHub:_NJ_oFUOzEeWCCJllxtqZjQ:Members
	forgeCommitter = group JazzHub:_NJ_oFUOzEeWCCJllxtqZjQ:Members
	push = group JazzHub:_NJ_oFUOzEeWCCJllxtqZjQ:Members
	push = +force group JazzHub:_NJ_oFUOzEeWCCJllxtqZjQ:Owners
[access "refs/tags/*"]
	read = group JazzHub:_NJ_oFUOzEeWCCJllxtqZjQ:Members
	create = group JazzHub:_NJ_oFUOzEeWCCJllxtqZjQ:Members
	forgeAuthor = group JazzHub:_NJ_oFUOzEeWCCJllxtqZjQ:Members
	forgeCommitter = group JazzHub:_NJ_oFUOzEeWCCJllxtqZjQ:Members
	push = group JazzHub:_NJ_oFUOzEeWCCJllxtqZjQ:Members
	push = +force group JazzHub:_NJ_oFUOzEeWCCJllxtqZjQ:Owners
	pushTag = group JazzHub:_NJ_oFUOzEeWCCJllxtqZjQ:Members
	pushSignedTag = group JazzHub:_NJ_oFUOzEeWCCJllxtqZjQ:Members
